@charset "utf-8";
#__01 {
	position:absolute;
	left:0px;
	top:0px;
	width:1515px;
	height:1154px;
}

#id01 {
	position:absolute;
	left:0px;
	top:0px;
	width:140px;
	height:132px;
}

#id02 {
	position:absolute;
	left:140px;
	top:0px;
	width:1229px;
	height:91px;
}

#id03 {
	position:absolute;
	left:1369px;
	top:0px;
	width:146px;
	height:132px;
}

#id04 {
	position:absolute;
	left:140px;
	top:91px;
	width:88px;
	height:42px;
}

#id05 {
	position:absolute;
	left:228px;
	top:91px;
	width:119px;
	height:1px;
}

#id06 {
	position:absolute;
	left:347px;
	top:91px;
	width:41px;
	height:42px;
}

#id07 {
	position:absolute;
	left:388px;
	top:91px;
	width:193px;
	height:1px;
}

#id08 {
	position:absolute;
	left:581px;
	top:91px;
	width:51px;
	height:42px;
}

#id09 {
	position:absolute;
	left:632px;
	top:91px;
	width:287px;
	height:42px;
}

#id10 {
	position:absolute;
	left:919px;
	top:91px;
	width:183px;
	height:1px;
}

#id11 {
	position:absolute;
	left:1102px;
	top:91px;
	width:47px;
	height:42px;
}

#id12 {
	position:absolute;
	left:1149px;
	top:91px;
	width:182px;
	height:1px;
}

#id13 {
	position:absolute;
	left:1331px;
	top:91px;
	width:38px;
	height:42px;
}

#id14 {
	position:absolute;
	left:228px;
	top:92px;
	width:119px;
	height:41px;
	background-image: url(../images/4/14.jpg);
}

#id15 {
	position:absolute;
	left:388px;
	top:92px;
	width:193px;
	height:41px;
	background-image: url(../images/4/15.jpg);
}

#id16 {
	position:absolute;
	left:919px;
	top:92px;
	width:183px;
	height:41px;
	background-image: url(../images/4/16.jpg);
}

#id17 {
	position:absolute;
	left:1149px;
	top:92px;
	width:182px;
	height:41px;
	background-image: url(../images/4/17.jpg);
}

#id18 {
	position:absolute;
	left:0px;
	top:132px;
	width:140px;
	height:365px;
}

#id19 {
	position:absolute;
	left:1369px;
	top:132px;
	width:146px;
	height:364px;
}

#id20 {
	position:absolute;
	left:140px;
	top:133px;
	width:617px;
	height:363px;
}

#id21 {
	position:absolute;
	left:757px;
	top:133px;
	width:612px;
	height:363px;
}

#id22 {
	position:absolute;
	left:140px;
	top:496px;
	width:3px;
	height:1px;
}

#id23 {
	position:absolute;
	left:143px;
	top:496px;
	width:342px;
	height:81px;
	background-image: url(../images/4/23.jpg);
}

#id24 {
	position:absolute;
	left:485px;
	top:496px;
	width:883px;
	height:81px;
	background-image: url(../images/4/24.jpg);
}

#id25 {
	position:absolute;
	left:1368px;
	top:496px;
	width:1px;
	height:1px;
}

#id26 {
	position:absolute;
	left:1369px;
	top:496px;
	width:146px;
	height:44px;
}

#id27 {
	position:absolute;
	left:0px;
	top:497px;
	width:143px;
	height:43px;
}

#id28 {
	position:absolute;
	left:1368px;
	top:497px;
	width:1px;
	height:657px;
}

#id29 {
	position:absolute;
	left:0px;
	top:540px;
	width:143px;
	height:274px;
}

#id30 {
	position:absolute;
	left:1369px;
	top:540px;
	width:146px;
	height:274px;
}

#id31 {
	position:absolute;
	left:143px;
	top:577px;
	width:795px;
	height:522px;
	background-image: url(../images/4/31.jpg);
}

#id32 {
	position:absolute;
	left:938px;
	top:577px;
	width:430px;
	height:522px;
	background-image: url(../images/4/32.jpg);
}

#id33 {
	position:absolute;
	left:0px;
	top:814px;
	width:143px;
	height:53px;
}

#id34 {
	position:absolute;
	left:1369px;
	top:814px;
	width:146px;
	height:53px;
}

#id35 {
	position:absolute;
	left:0px;
	top:867px;
	width:143px;
	height:232px;
}

#id36 {
	position:absolute;
	left:1369px;
	top:867px;
	width:146px;
	height:232px;
}

#id37 {
	position:absolute;
	left:0px;
	top:1099px;
	width:143px;
	height:55px;
}

#id38 {
	position:absolute;
	left:143px;
	top:1099px;
	width:342px;
	height:55px;
	background-image: url(../images/4/38.jpg);
}

#id39 {
	position:absolute;
	left:485px;
	top:1099px;
	width:453px;
	height:1px;
}

#id40 {
	position:absolute;
	left:938px;
	top:1099px;
	width:430px;
	height:55px;
	background-image: url(../images/4/40.jpg);
}

#id41 {
	position:absolute;
	left:1369px;
	top:1099px;
	width:146px;
	height:55px;
}

#id42 {
	position:absolute;
	left:485px;
	top:1100px;
	width:453px;
	height:54px;
	background-image: url(../images/4/42.jpg);
}

a{

text-decoration:none;

}

